body {
    padding: 10px;
    background-color: rgb(66, 66, 66);
    color: white;
    margin-bottom: 2%;
}
#toleft {
text-align:right;
}
h1{
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 50px;
}

h2{
  position:relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

h2:hover{
 color:blue;
}


#test{
  text-align: left;
  font-size: 30px;
  display:inline-block;
  padding-left: 27%;
  padding-bottom: 2%;



}

h2:hover{
  cursor: pointer;
}

p{
  text-align: center;
  font-size: 30px;
  color: white;
}

.log {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.log input[type ="text"], .log input[type= "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20% auto;
  text-align: center;
  border-bottom:solid white 1px;
  padding: 6% 5%;
  outline: none;
  color: white;
}

.log input[type="text"], .log input[type ="password"] {
  width: 200px;
}

.log button[type="submit"] {
   position:relative;
   right:center;
   left:10px;
   display: block;
   width: 250px;
   height: auto;
   border: none;
   background-color: #white;
   color: grey;
   padding: 5px;
   font-size:13px;
   cursor: pointer;
}

.log p {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 10%;
  font-size: 1.5em;
}

.questions, .answers{
  text-align: center;
  display: none;
  font-size: 30px;
}

