.row{
  margin-top: 50px;
  margin-bottom: 50px;
}


button:hover {
  border: 1px solid black;
}

.modal-header .close {
  font-size: 40px; //bigger
}
.datepicker table tr td.day.disabled:hover {
  background-color: red;
}

