
body, a{
  background-color: rgb(66, 66, 66);
  color: white;
}

h1, h2, h3, p, form{
  text-align: center;
}

h1{
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 50px;
}

h2{
  font-size: 40px;
}
p{
  font-size: 30px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h3{
  font-size: 20px;
}

h3:hover{
  cursor: pointer;
}

input[type=text]{
     width: 30%;
     margin-top: 1%;
     padding: 5px 10px;
     display: inline-block;
     box-sizing: border-box;
     border: 2px solid grey;
     border-radius: 4px;
     display: inline-block;
}

input[type=submit]{
  margin-top: 1%;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  background-color: rgb(36, 36, 36);
}

.m-content h1{
  margin-top: 10%;
}
