body {
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-size: cover;
	background-color: #bac1b9;
}

.main {
    position: relative;
    text-align: center;

}

#ame {
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: 3px;
    position: bottom; 
    top: 130px;
    left: 0; 
    right: 0; 
    bottom: 60%;
    margin-left: auto; 
    margin-right: auto; 
    width: 960px;
    padding: 22px;

}
.responsive {
    display: inline-block;
    width: 100%; 
	max-width:500px;
}
header {
    background-color: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    border-width: 0 0 5px 0;
    margin-top: 0;
    width: 100%;
    height: 90px;
	position: relative;
    left: 0;
    top: 0;
}

footer {
    background-color: #666666;
    color: #ffffff;
    border-color: #4aaaa5;
    border-style: solid;
    border-width: 5px 0 0 0;
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 280px;
    height: 80px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: left;
    position: absolute;
    bottom: 0; 
    /* left: 355px; */
    left: 20%;

}

nav {
    position: absolute;
    width: 400px;
    height: 50px;
    margin: 0;
    padding: 10px;
    bottom: 0;
    /* right: 355px; */
    left: 60%;
}

nav a {
    color: #cccccc;
    padding: 10px;
}

nav a:nth-child(1)
nav a:nth-child(2)
nav a:nth-child(3) {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 3px 0 0;
}
.nav > li {
	display: inline-block;
	padding: 2px 2px 3px 10px;
	font-size:12px;
}
.nav > li > a:hover{
  color: #000;
  padding: 5px;
  text-decoration: none;
}

h2 {
    color: #4aaaa5;
}

h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align : center
}

#ameT {
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #dddddd;
}

#la {
    padding-top: 20px;
}


#la p {
    margin: 0;
}

#las {
    padding-top: 20px;
	text-align: left;
}


#las p {
    margin: 0;
    text-align: left;
}



@media screen and (max-width: 980px) {

    #ame {
        
        left: 30px;
        right: 45px; 
        width: auto;
    }

    h1 {
        width: 300px;
        left: 35px;
    }

    nav {
        width: 300px;
        right: 0px;
        left: auto;
    }



}

canvas {
display: block;
position: center;
border: 3px solid #000;
margin: auto;
top: 0;
bottom: 0;
right: 0;
left: 0;
}



@media screen and (max-width: 768px) {
    body {
		background-color: #bac1b9;
    }

    #ame{
display: block;
position: center;
    }

        header {
        height: 130px;
        position: static;
        margin-top: -10px;
        padding: 0px;

    }

    h1 {
        width: 100%;
        height: 40px;
        margin: 0;
        position: static;
        font-size: 25px;
        padding-bottom: 35px;
        padding-top: 5px;
    }


    nav {
        position: static;
        width: 100%;
        margin: 0;
        padding-top: 20px;
        text-align: center;
        
    }

    #ame {
        top: 150px;

    }

        canvas {
            background-color: #ccc;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 80%;
            height: auto;
        }
	p {
	text-align:center;
}

}



@media screen and (max-width: 640px) {
    header {
        height: 130px;
        position: static;
        margin-top: -10px;
        padding: 0px;

    }

    h1 {
        width: 100%;
        height: 40px;
        margin: 0;
        position: static;
        font-size: 25px;
        padding-bottom: 35px;
        padding-top: 5px;
    }


    nav {
        position: static;
        width: 100%;
        margin: 0;
        padding-top: 20px;
        text-align: center;
        
    }

    #ame {
        top: 150px;

    }







}
