<style>
	h1{
	text-align: center;

}
</style>
<h1>about page</h1>
<p>Note: sorry for no styling and formating, looks like I have spent most of my time on Part 2 which I shouldnt have done</p>
<p>In this page, we are explaining our development of the game and sources used</p>
<p>This game is not fully finished and is having the functionality of a game, it has access to a database and able to store the user's name then store it do SQL database.</p>
<p>I have used libraries such as <strong>JQuery</strong> and followed many tutorials to make the final result. Make sure to README.txt for full sourcing and linking</p>
<p>I have reused some parts of part two in the assignment and they follow as these and they are coded by me:</p>
<ul>
<li>Alert user save the name to local DB</li>
<li>Send name to the database</li>
<li>Retrieve name from the database&nbsp;</li>
<li>XHR request</li>
</ul>

<p> I had to spend alot of time understanding how to draw the polygons and for that I have used : <a href="https://www.w3schools.com/graphics/svg_polygon.asp">Polygon</a></p>
<p> But to be honest it was very outdated so i had to follow a youtube tutorial for polygons Full Credit goes to : PothOnProgramming youtube and github link : <a href="https://www.youtube.com/watch?v=3kICmEJ-xyo">2D Polygon Basics In Pure JS</a><br><a href="https://github.com/frankarendpoth/frankarendpoth.github.io/blob/master/content/pop-vlog/javascript/2018/024-polygon/polygon.html">Github</a></p>
<p>From his polygon tutorial I did some implementation to make it work on the game</p>