<style>
	h1{
	text-align: center;

}
</style>
<h1>Information about the game</h1>
<p>in this game you are supposed to ride your car and collect coins and avoid getting hit by other cars, but unfortuantly this game is not finished developing</p>
<p>Project for this summer will be to finish the game and do the notes mention above</p>
<p> your controls for this game are : </>
<ul>
<li>ARROW Up to accelerate forward</li>
<li>Arrow Left to move left</li>
<li>Arrow Right to move right</li>
<li>Not pressing any of these buttons will decrease the speed</li>
<li>If you played the game on PART 2 your name in PART 2 will be assigned here!</li>
</ul>


<p> Rules? <br> There are currently no rules for this game :( </>