body {

  margin: 0px;
  overflow-y: hidden;
}
canvas {
	margin: 20px;
	border: 2px solid;
	float:center;
	display:block;
	position:center;
}

#restart{
  text-align:center;
  color: #green;

}

#information {
  position:right;
  float: right;
  width: 500px;
  display: block;
  padding: 20px;
}

